<h1 class="text-center my-4">{{titulo}}</h1>

<form [formGroup]="forma" (ngSubmit)="usuario.id==null ? guardar():editar()">

    <div class="row">

        <div class="col-sm-8">

            <div class="card">
                <div class="card-header bg-info text-white">
                    Datos del usuario
                </div>
        
                <div class="card-body">
        
                    <div class="form-group">
                        <label for="nombres">Nombres:</label>
                        <input [class.is-invalid]="nombresNoValido" formControlName="nombres"  type="text" class="form-control" id="nombres" name="nombres">

                        <small *ngIf="nombresNoValido" class="text-danger">
                            Nombres: Campo Obligatorio
                        </small>
                    </div>
        
                    <div class="form-group">
                        <label for="apellidos">Apellidos:</label>
                        <input formControlName="apellidos" [class.is-invalid]="apellidosNoValido"  type="text" class="form-control" id="apellidos" name="apellidos">
                        <small *ngIf="apellidosNoValido" class="text-danger">
                            Apellidos: Campo Obligatorio
                        </small>
                    </div>
        
                    <div class="form-group">
                        <label for="cedula">Cedula:</label>
                        <input  formControlName="cedula" [class.is-invalid]="cedulaNoValido"  type="text" class="form-control" id="cedula" name="cedula">
                        <small *ngIf="cedulaNoValido" class="text-danger">
                            Cedula: Campo Obligatorio y debe tener 10 caracteres
                        </small>
                    </div>
        
                    <div class="form-group">
                        <label for="correo">Correo:</label>
                        <input  formControlName="email" [class.is-invalid]="emailNoValido" type="text" class="form-control" id="correo" name="correo">
                        <small *ngIf="emailNoValido" class="text-danger">
                            Email: Campo Obligatorio y debe ser un correo valido
                        </small>
                    </div>
        
                    
                </div>
        
            </div>
        </div>


        <div class="col-sm-4">

            <div class="card">

                <div class="card-header bg-secondary text-white">
                    Datos de Direccion
                </div>

                <div class="card-body"> 

                    <div class="form-group">
                        <label for="calle_principal">Calle Principal:</label>
                        <input  type="text" class="form-control" id="calle_principal" name="calle_principal">
                    </div>

                    <div class="form-group">
                        <label for="calle_secundaria">Calle Secundaria:</label>
                        <input  type="text" class="form-control" id="calle_secundaria" name="calle_secundaria">
                    </div>

                    <div class="form-group">
                        <label for="referencia">Referencia:</label>
                        <input  type="text" class="form-control" id="referencia" name="referencia">
                    </div>

                </div>

            </div>

        </div>

       

    </div>

    
    <button type="submit"
                     class="btn btn-primary w-100"> 
                     <i class="fas fa-download"></i> {{usuario.id==null ? 'Crear Usuario':'Editar Usuario'}}</button>
        

</form>