<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="assets/img/LOGOFIN.png" style="width: 30px;margin-top:-10px">
        Intro Angular
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active" routerLinkActive="active">
                <a class="nav-link" routerLink="introduccion">
                    <span class="fas fa-home"></span>
                    Introduccion
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="pipes">
                    <span class="fas fa-underline"></span>
                    Pipes
                </a>
            </li>

            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="albums">
                    <span class="fas fa-guitar"></span>
                    Albums
                </a>
            </li>

            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="search">
                    <span class="fas fa-search"></span>
                    Search
                </a>
            </li>

            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="usuarios">
                    <span class="fas fa-users"></span>
                    Usuarios
                </a>
            </li>

            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="nuevo-usuario">
                    <span class="fas fa-user-plus"></span>
                    Nuevo Usuario
                </a>
            </li>
        </ul>
    </div>
</nav>