<h1 class="text-center my-3">Buscar Artista</h1>

<div class="row">
    <div class="col">
        <input #termino (keyup)="buscar(termino.value)" class="form-control" type="text" placeholder="Nombre del Artista">
    </div>
</div>

<div class="card-columns my-3">
    <div style="cursor: pointer;" (click)="verArtista(item)" class="card" *ngFor="let item of artistas">
        <img class="card-img-top" [src]="item.images | imagenes" alt="Imagen no encontrada">
        <div class="card-body">
            <h5 class="card-title">
                {{item.name}}
            </h5>

            <span style="display: block;margin: 5px;" class="badge badge-info" *ngFor="let artista of item.artists">
                {{artista.name}}
            </span>

        </div>
    </div>
</div>
