<h1 class="text-center">{{titulo}}</h1>

<div class="card bg-primary my-3">
    <div class="card-header text-white">
        Concepto de Angular
    </div>

    <div class="card-body">
        Angular es un framework de desarrollo para JavaScript creado por Google. La finalidad
        de este framework es facilitarnos el desarrollo de aplicaciones web SPA (Aplicaciones
        de una sola pagina).
    </div>
</div>

<div class="card bg-secondary my-3">
    <div class="card-header text-white">
        Concepto de NodeJs
    </div>

    <div class="card-body">
        Es un entorno de tiempo de ejecucion de JavaScript, incluye todo lo que se necesita
        para construir aplicaciones basadas en JavaScript. Es el encargado de levantar nuestra aplicacion
        en Angular
    </div>
</div>


<div class="card bg-info my-3">
    <div class="card-header text-white">
        Concepto de EcmaScript
    </div>

    <div class="card-body">
        Es el estandar que permite desde el anio 2015 a la actualidad, regir o especificar
        como debe ser interpretado y funcionar el lenguaje JavaScript.
    </div>
</div>

<div class="card bg-success my-3">
    <div class="card-header text-white">
        Concepto de TypeScript
    </div>

    <div class="card-body">
        Es un <b>superset</b> o superconjunto de JavaScript, que esencialmente implementa
        tipado estatico y objetos basados en clases. Angular trabaja con TypeScript para
        la creacion de app. Al utilizar Typescript puede emplear tambien JavaScript nativo.
    </div>
</div>

<div class="card border-warning">
    <div class="card-header bg-warning text-white">Comandos importantes</div>
    <div class="card-body">

        <table class="table table-striped">

            <thead>

                <tr>
                    <th>Accion</th>
                    <th>Comando</th>
                    <th>Descripcion</th>
                </tr>

            </thead>

            <tbody>
                <tr>
                    <td>Nuevo Proyecto</td>
                    <td>ng new nombre_proyecto</td>
                    <td>
                        Permite la creacion de un nuevo proyecto en Angular, la version del Angular
                        depende de la version de nodejs. Aunque se puede especificar tambien la versión
                    </td>
                </tr>
                <tr>
                    <td>Desplegar aplicacion</td>
                    <td>ng serve -o</td>
                    <td>
                        Traspilar el codigo de TypeScript a JavaScript y si no hay errores
                        abre una pestaña en el navegador por defecto
                    </td>
                </tr>

                <tr>
                    <td>Crear componente</td>
                    <td>ng g c carpeta/nombreComponente</td>
                    <td>
                        Crea un componente en la carpeta seleccionada y si la carpeta
                        no esta creada, pues la crea.
                    </td>
                </tr>

                <tr>
                    <td>Crear modulo</td>
                    <td>ng g m carpeta/nombreModulo</td>
                    <td>
                        Crea un modulo en la carpeta seleccionada y si la carpeta
                        no esta creada, pues la crea.
                    </td>
                </tr>

                <tr>
                    <td>Crear un servicio</td>
                    <td>ng g s carpeta/nombreServicio</td>
                    <td>
                        Crea un servicio en la carpeta seleccionada y si la carpeta
                        no esta creada, pues la crea.
                    </td>
                </tr>


                <tr>
                    <td>Crear una clase</td>
                    <td>ng g class carpeta/nombreClase</td>
                    <td>
                        Crea una clase en la carpeta seleccionada
                    </td>
                </tr>

                <tr>
                    <td>Instalar Bootstrap</td>
                    <td>npm i bootstrap jquery popper.js</td>
                    <td>
                        Instalamos Bootstrap y sus dependencias
                    </td>
                </tr>

                <tr>
                    <td>Instalar SweetAlert 2</td>
                    <td>npm --save install sweetalert2</td>
                    <td>
                        Instalamos la libreria para mensajes o cuadros
                        emergentes con un estilo moderno
                    </td>
                </tr>

                <tr>
                    <td>Instalar Material</td>
                    <td>ng add @angular/material</td>
                    <td>
                        Instalamos el framework Material para UI (Interfaz Grafica)
                    </td>
                </tr>

                <tr>
                    <td>Instalar Font Awesome</td>
                    <td>npm i @fortawesome/fontawesome-free --save</td>
                    <td>
                        Instalamos los iconos de Font Awesome
                    </td>
                </tr>


            </tbody>

        </table>

    </div>
</div>